<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ERP" connectionString="Data Source=0191-L1\SQLEXPRESS;Initial Catalog=ERP;Persist Security Info=True;User ID=dev;Password=Reh6quo0;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>